<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
{% load static %}
<html lang="zxx">

<head>
	<title>Snow Signup form Responsive Widget Template : W3Layouts</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'customerapp/assets2/css/style.css'%}" type="text/css" media="all" />
</head>

<body>
	<!-- Signup form -->
	<section class="w3l-signup">
		<div class="overlay">
			<div class="wrapper">
				<div>

				</div>
				<div class="form-section">

                    {% if s_mass%}
                <div class="alert alert-primary" role="alert">
                  {{s_mass}}
                </div>
                {% endif %}

                {% if e_mass%}
                <div class="alert alert-warning" role="alert">
                      {{e_mass}}
                </div>
                {%  endif %}
					<h3>Forgot Password</h3>
					<form action="{% url 'SEND_OTP' %}" method="post" class="signin-form">
						{% csrf_token %}


						<div class="form-input">
							<input type="email" name="email" placeholder="email" required="" autofocus>
						</div>
						<button type="submit" class="btn btn-primary theme-button mt-4">Sign in</button>
					</form><p class="Login">forgot password? <a href="#" class="signuplink">forgot password</a></p>
				</div>
			</div>
		</div>
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>


		<!-- //copyright -->
	</section>

	<!-- /Signup form -->
</body>

</html>